body {
    background-color: rgb(200, 200, 255);
}

.content {
    position: center;
    max-width: 500px;
    margin: auto;
    text-align: center;
    color: #003f72;
}

.btn {
    display: inline-block;
    background: #0086ff;
    color: rgba(231, 217, 16, 0.99);
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    animation: bounce 1s;
    font-weight: 600;
}

.btn:hover {
    background: rgb(231, 217, 16);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.redBtn {
    display: inline-block;
    background: #ff003b;
    color: rgba(231, 217, 16, 0.99);
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    animation: bounce 1s;
    font-weight: 600;
}

.redBtn:hover {
    background: rgb(91, 156, 63);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.exitBtn {
    display: inline-block;
    background: #0086ff;
    color: rgba(231, 217, 16, 0.99);
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    animation: bounce 1s;
    font-weight: 600;
}

.exitBtn:hover {
    background: rgb(231, 16, 16);
    color: #ffd200;
    box-shadow: inset 0 0 0 3px #ffc503;
}

.reveal,
.reveal:after {
    animation-name: text;
    animation-duration: 850ms;
    position: center;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.reveal:after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0086ff;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer;
}

@keyframes text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes revealer {
    0%, 50% {
        transform-origin: 0 50%;
    }
    60%, 100% {
        transform-origin: 100% 50%;
    }
    60% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

#user {
    width: 300px;
}

.revealErr,
.revealErr:after {
    animation-name: text;
    animation-duration: 400ms;
    position: center;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.revealErr:after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer;
}

table {
    border: 1px solid #69c;
}

th {
    font-weight: 600;
    color: #13375a;
    border-bottom: 1px dashed #69c;
    padding: 12px 17px;
}

td {
    color: #33339a;
    padding: 7px 17px;
}

tr:hover td {
    background: #789cf3;
}

.revealLeft,
.revealLeft:after {
    animation-name: text;
    animation-duration: 850ms;
}

.revealLeft:after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0086ff;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer;
}

.revealErrLeft,
.revealErrLeft:after {
    animation-name: text;
    animation-duration: 400ms;
}

.revealErrLeft:after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    border-radius: 5px;
    background-color: #0086ff;
    color: rgb(231, 217, 16);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: blue;
}