<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, userEntity-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${patient.surname!""} ${patient.firstName!""}</title>
    <link type="image/png" sizes="512x512" rel="icon" href="http://localhost/img/Favicon.png">
    <link rel="stylesheet" href="http://localhost/CSS/styles.css" type="text/css"/>
</head>
<body>
<h2>
    <a href="/enter" class="btn">Главное меню</a>
    <a href="/profile/${User.get().id}" class="btn">Профиль</a>
    <a href="/doctors" class="btn">Все врачи</a>
    <a href="/patients" class="btn">Все пациенты</a>
    <a href="/logout" class="exitBtn">Выйти из системы</a></h2>
<hr>
<h1 class="revealLeft" style="color: #003f72">Анкета пациента # ${patient.patientId}</h1>
<h3>ФИО: ${patient.surname!""} ${patient.firstName!""} ${patient.patronymic!""}.</h3>
<h3>Пол: ${patient.sex!""}.</h3>
<h3>Полных лет: ${patient.age}.</h3>
<h3>Дата поступления: ${receiptDate} года.</h3>
<#if patient.roomNumber??><h3>Палата № ${patient.roomNumber!""}</h3></#if>
<#if patient.doctor??><h3>Лечащий врач
    - ${patient.doctor.speciality!""} ${patient.doctor.surname!""} ${patient.doctor.firstName!""} ${patient.doctor.patronymic!""}
    .</h3></#if>
<#if patient.diseaseCodifier??><h3>Сведения о болезни: ${patient.diseaseCodifier.code}
    - ${patient.diseaseCodifier.description!""}.</h3></#if>
<#if patient.diseaseDescription??><h3>Описание болезни: ${patient.diseaseDescription!""}</h3></#if>
<#if patient.treatment??><h3>Назначенное лечение: ${patient.treatment!""}</h3></#if>
<hr>
<form method="post" action="/patients/${patient.patientId}/updateDisease">
    <h1 class="revealLeft" style="color: #003f72">Добавление информации о пациенте:</h1>
    <label>
        Классификатор болезни:
        <br>
        <select name="diseaseCodifier.code">
            <#if patient.diseaseCodifier??>
                <option hidden>${patient.diseaseCodifier.code!""}</option></#if>
            <#list disease?sort_by("code") as disease>
                <option>${disease.code}</option>
            </#list>
        </select>
    </label>
    <br>
    <label>
        Описание болезни:
        <br>
        <textarea name="diseaseDescription">${patient.diseaseDescription!""}</textarea>
    </label>
    <br>
    <label>
        Назначенное лечение:
        <br>
        <textarea name="treatment">${patient.treatment!""}</textarea>
    </label>
    <br>
    <label>
        Номер палаты:
        <select name="roomNumber">
            <option hidden>${patient.roomNumber!""}</option>
            <#list rooms?sort_by("number") as rooms>
                <option>${rooms.number}</option></#list>
        </select>
    </label>
    <br>
    <br>
    <input type="submit" <#if !User.get().verified>disabled</#if> value="Сохранить">
    <input type="reset" value="Очистить">
    <hr>
</form>
<h1 class="revealLeft" style="color: #003f72">Редактирование анкеты:</h1>
<#if error0??>
    <h3 class="revealErrLeft" style="color: red">1. ${error0}</h3>
</#if>
<#if error1??>
    <h3 class="revealErrLeft" style="color: red">2. ${error1}</h3>
</#if>
<#if error2??>
    <h3 class="revealErrLeft" style="color: red">3. ${error2}</h3>
</#if>
<#if error3??>
    <h3 class="revealErrLeft" style="color: red">4. ${error3}</h3>
</#if>
<form method="post" action="/patients/${patient.patientId}/update">
    <label>
        Фамилия:
        <br>
        <input name="surname" value="${patient.surname!""}">
    </label>
    <br>
    <label>
        Имя:
        <br>
        <input name="firstName" value="${patient.firstName!""}">
    </label>
    <br>
    <label>
        Отчество:
        <br><input name="patronymic" value="${patient.patronymic!""}">
    </label>
    <br>
    <label>
        Пол:
        <br>
        <select name="sex">
            <option hidden>${patient.sex!""}</option>
            <option>Мужской</option>
            <option>Женский</option>
            <option>Не установлен</option>
        </select>
    </label>
    <br>
    <label>
        Дата рождения:
        <br>
        <input name="dateOfBirth" value=${dateOfBirth}>
    </label>
    <br>
    <label>
        Дата поступления:
        <br>
        <input name="receiptDate" value=${receiptDate}>
    </label>
    <h1></h1>
    <input type="submit" <#if !User.get().verified>disabled</#if> value="Сохранить">
    <input type="reset" value="Очистить">
</form>
<h1></h1>
<form method="post" action="/patients/${patient.patientId}/delete"><input type="submit"
                                                                          <#if !User.get().verified>disabled</#if>
                                                                          value="Удалить" class="redBtn">
</form>
<hr>
</body>
</html>
