<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, userEntity-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Пациенты врача</title>
    <link type="image/png" sizes="512x512" rel="icon" href="http://localhost/img/Favicon.png">
    <link rel="stylesheet" href="http://localhost/CSS/styles.css" type="text/css"/>
</head>
<body>
<h2>
    <a href="/enter" class="btn">Главное меню</a>
    <a href="/profile/${User.get().id}" class="btn">Профиль</a>
    <a href="/doctors" class="btn">Все врачи</a>
    <a href="/patients" class="btn">Все пациенты</a>
    <a href="/doctors/${.vars['doctor-id']}" class="btn">Анкета врача</a>
    <a href="/logout" class="exitBtn">Выйти из системы</a>
</h2>
<hr>
<h3 class="content">${doctor.speciality} ${doctor.surname} ${doctor.firstName} ${doctor.patronymic}</h3>
<h1 class=reveal style="color: #003f72">Пациенты текущего врача:</h1>
<table class="content">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Дата поступления</th>
        <th>Код болезни</th>
        <th>Номер палаты</th>
    </tr>
    <#list patients?sort_by("receiptDate") as patient>
        <tr>
            <td>
                <form action="/patients/${patient.patientId}" target="_blank">
                    <button>Анкета</button>
                </form>
            </td>
            <td>
                <form method="post" action="/patients/${patient.patientId}/writeOut">
                    <input style="color: red" type="submit" <#if !User.get().verified>disabled</#if> value="Выписать">
                </form>
            </td>
            <td>
                <form method="post" action="/patients/${patient.patientId}/deleteDoctor">
                    <input type="submit" <#if !User.get().verified>disabled</#if> value="Открепить">
                </form>
            </td>
            <td>${patient.patientId}.</td>
            <td>${patient.surname!""}</td>
            <td>${patient.firstName!""}</td>
            <#if patient.patronymic??>
                <td>${patient.patronymic!""}</td></#if>
            <#if patient.receiptDate??>
                <td>${patient.receiptDate.format(receiptDateFormatter)!""}</td></#if>
            <#if patient.diseaseCodifier??>
                <td>${patient.diseaseCodifier.code!""}</td></#if>
            <#if patient.roomNumber??>
                <td>${patient.roomNumber!""}</td></#if>
        </tr>
    </#list>
</table>
<hr>
<h1 class="reveal" style="color: #003f72">Пациенты без врача:</h1>
<table class="content">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Дата поступления</th>
        <th>Код болезни</th>
        <th>Номер палаты</th>
    </tr>
    <#list patientsWithoutDoctors?sort_by("receiptDate") as patient>
        <tr>
            <td>
                <form action="/patients/${patient.patientId}" target="_blank">
                    <button>Анкета</button>
                </form>
            </td>
            <td>
                <form method="post" action="/doctors/${doctorId}/patients/deletePatient">
                    <input name="patientId" type="hidden" value="${patient.patientId}">
                    <input style="color: red" type="submit" <#if !User.get().verified>disabled</#if> value="Выписать">
                </form>
            </td>
            <td>
                <form method="post" action="/doctors/${doctorId}/patients">
                    <input name="patientId" type="hidden" value="${patient.patientId}">
                    <input type="submit" <#if !User.get().verified>disabled</#if> value="Добавить">
                </form>
            </td>
            <td>${patient.patientId}.</td>
            <td>${patient.surname!""}</td>
            <td>${patient.firstName!""}</td>
            <#if patient.patronymic??>
                <td>${patient.patronymic!""}</td></#if>
            <#if patient.receiptDate??>
                <td>${patient.receiptDate.format(receiptDateFormatter)!""}</td></#if>
            <#if patient.diseaseCodifier??>
                <td>${patient.diseaseCodifier.code!""}</td></#if>
            <#if patient.roomNumber??>
                <td>${patient.roomNumber!""}</td></#if>
        </tr>
    </#list>
</table>
<hr>
</body>
</html>
